{% extends 'base.html' %} 


{% block title %} | Welcome {% endblock %}



{% block content %}

<section class="hero is-large is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="block">
        <h1 class="has-text-weight-bold has-text-dark has-text-centered" style="font-size: 4rem !important; text-shadow: 8px 8px 0px #ffffff;">Hostelzz</h1>
        
        <span>
            &nbsp;&nbsp;<span class="is-size-5 has-text-weight-medium">&#x25cf; Anywhere</span>
            &nbsp;&nbsp;<span class="is-size-5 has-text-weight-medium">&#x25cf; Anytime</span>
            &nbsp;&nbsp;<span class="is-size-5 has-text-weight-medium">&#x25cf; Always</span>
        </span>

      </div>
    </div>
  </div>
</section>

  <div class="container" style="background-color: #f3f3f3 !important">
    <div class="block">
        <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                About
              </p>
              <a href="#" class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </a>
            </header>
            <div class="card-content">
              <div class="content">
                 Search and discover your perfect hostel nearby your location. We offer you the ultimate online resource for hostels near you. Explore, experience, compare and rate the hostels of your choice.
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">Explore</a>
              <a href="#" class="card-footer-item">Add</a>
              <a href="#" class="card-footer-item">Rate</a>
            </footer>
          </div>
    </div>
  </div>

  {% endblock %}
