{% extends 'base.html' %} 


{% block title %} | Welcome {% endblock %}



{% block content %}
<!-- login signup -->
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
      <h3 class="title is-2">Where to Stay?</h3>
      <h3 class="subtitle">We can find it for you</h3>
      <a href="" class="button is-medium is-rounded is-info" style="margin: 5px;">Log In</a>
      <a href="" class="button is-info is-medium is-rounded" style="margin: 5px;">Register</a>
      <span style="margin: 15px;">
          &nbsp;&nbsp;<span class="is-size-5 has-text-weight-medium">&#x25cf; Anywhere</span>
          &nbsp;&nbsp;<span class="is-size-5 has-text-weight-medium">&#x25cf; Anytime</span>
          &nbsp;&nbsp;<span class="is-size-5 has-text-weight-medium">&#x25cf; Always</span>
      </span>
    </div>
  <div >

{% endblock %}